/* Color Pallete
Raisin Black: #2C2C34
Dark Liver: #494850 
Burnished Brown: #A37B73
Hellotrope Gray: #978897
African Violet: #B18FCF
Lavender Web: #D8D8F6
Light Gray: #CFCBCA
Gainsboro: #D8DDDE
*/

/* Global Style-------------------- */
body{
    display: grid;
    /* row-gap: 1%; */
    background: url(images/background1.jpg);
    background-size: contain;
    color: #D8D8F6;
    font-size: 3em;
}

p{
    font-size: 15px;
}

/* General style------------------- */
label{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display:block;
    margin: 1%;
    text-align:left;
    font-size: 37px;
}

input{
    /* display: inline-block; */
    align-content: right;
    padding: 5px;
    margin: 5px;
    border: none;
    font-size: 32px;
    height: 20px;
    width: 300px;
}

input:focus{
    outline: none;
}

button{
    display:inline;
    padding: 1%;
    /* border-radius: 100%; */
    width: 90px;
    font-size: 15px;
    font-weight:bold;
    text-align: center;
    background: #CFCBCA;
}

button:hover{
    background: #D8DDDE;
}

textarea{
    /* display: inline-block; */
    align-content: right;
    padding: 5px;
    margin: 5px;
    font-size: 27px;
    border: none;
    height: 30px;
    width:700px;
}

textarea:focus{
    outline: none;
}

/* App header---------------------- */
.head{
    display: block;
    padding: 1%;
    text-align: center;
    background:#494850;
    /* text-shadow: 0 0 10px #978897; */
    font-size: 1em;
}


/* Input area------------ */
.contain{
    display: inline;
    padding: 3%;
    margin: 10px;
    text-align: center;
    background: #978897;
    color: #2C2C34;
}

/* Recent search------------------ */
.entryHolder{
    display: inline-block;
    background: #D8D8F6;
    color: #2C2C34;
    font-size: 25px;;
    padding: 1%;
    margin: 20px;
    margin-top: auto;
}

/* UI data to be displayed ----------------*/

/* Comments area*/
#userResponse, #temperature, #date {
    display: inline-block;
    background: #D8DDDE;
    color: #2C2C34;
    padding: 0.5%;
    font-size: 28px;
    margin: 25px;
    margin-top: 0;
    text-align: right;
}
